@media screen and (width < 1000px) {
    body[id] {
        width: 100%;
        padding: 0;
        gap: 2rem;
        flex-direction: column;
        align-items: stretch;
    }

    header[id] {
        width: 100%;
        top: 0;
        background-color: var(--surface);
        box-shadow: var(--shadow);
        z-index: 3;
        padding: 1rem 2rem;

        #logo-container {
            /* display: none; */
            height: 2.5rem;
            width: 2.5rem;
            border-radius: .5rem;
        }

        #title-container {
            display: none;
            /* height: 2.5rem;
            justify-content: center;

            h1 {
                font-size: 150%;
            }

            h2 {
                font-size: 75%;
            } */
        }

        #navigation,
        p {
            display: none;
        }
    }

    main[id] {
        gap: 3rem;
        padding: 0 2rem 2rem 2rem;

        #skills {
            .container {
                input[type="radio"] {
                    &:checked+label+.content {
                        height: calc(3rem + 1rem + 3rem + 1rem);
                    }
                }
            }
        }

        #timeline {
            .diploma {
                width: 100%;
            }
        }

        #projects {
            .project {
                flex-direction: column;
            }

            .img-container {
                width: 100%;
                height: auto;
            }
        }
    }

    footer[id] {
        width: 100%;
        height: 4.5rem;
        top: 0;
        left: 0;
        z-index: 4;
        padding: 1rem 2rem;
        justify-content: flex-end;
        align-items: center;

        #cv-container {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 25rem;
            background-color: var(--primary);
            color: var(--text-on-primary);
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            border: 0;
            margin: 0;
            padding: .5rem 1rem;
            order: 1;

            img {
                display: none;
            }

            i {
                display: block;
            }

            span {
                display: inline;
            }
        }
    }
}