@import url(./theme.css);
@import url(./accordion.css);
@import url(./experience.css);

@font-face {
    font-family: league-spartan;
    src: url(/LeagueSpartan.ttf);
}

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: league-spartan;
    color: var(--text-on-background);
}


body{
    width: 100vw;
    max-width: 100%;
    display: flex;
    gap: 96px;
    padding: 64px;
    background-color: var(--background);
}

#left-section {
    position: sticky;
    top: 64px;
    height: calc(100vh - 128px);
    width: 33vw;
    min-width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 8px;
}

#right-section section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header {
    display: flex;
    flex-direction: column;
}

#hero {
    display: flex;
    gap: 16px;
}

#logo-container {
    background-color: var(--text-on-background);
    border-radius: 16px;
    padding: 20px 20px 20px 18px;
    aspect-ratio: 1/1;
    width: 80px;
    height: 80px;
}

#logo-container img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5em;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}

h4 {
    font-weight: 700;
    margin: 4px 0;
}

h5 {
    font-weight: 700;
    opacity: 50%;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

span {
    font-weight: 700;
}

header p {
    margin: 2em 0;
}

header li,
header a {
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    margin-bottom: 16px;
    color: var(--primary);
}

footer {
    display: flex;
    gap: 24px;
    align-items: center;
}

footer a[href="contact"] {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    padding: 14px 20px 12px 20px;
    background-color: var(--primary);
    color: var(--text-on-primary);
    border-radius: 25em;
    text-align: center;
}


footer a[href="contact"] i {
    margin-right: 4px;
    color: var(--text-on-primary);
}

footer a[href]:not([href="contact"]) {
    font-size: 1.5em;
    color: var(--primary);
}

#skills-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skill {
    display: flex;
    flex-direction: column;
}

.token-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
}

.token-container li {
    list-style-type: none;
    padding: 6px 8px 4px 8px;
    border-radius: 25em;
    background-color: color-mix(in srgb, var(--primary-variant) 25%, transparent);
    color: var(--primary-variant);
    font-weight: 500;
    font-size: .9em;
}