@font-face {
    font-family: league-spartan;
    src: url(LeagueSpartan.ttf);
}

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-on-background);
    font-family: league-spartan;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #3700b3;
        --background-variant: #6200EE;
        --surface: #6200EE;
        --primary: #FFFFFF;
        --primary-variant: #CDBFEC;
        --text-on-background: var(--primary);
        --text-on-primary: var(--background);
        --img-tint: invert(100%) sepia(0%) saturate(0%) hue-rotate(58deg) brightness(103%) contrast(102%);
    }

    #logo-container img:nth-child(1) {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #E3DFDC;
        --background-variant: #D8D3CF;
        --surface: #FFFFFF;
        --primary: #030303;
        --primary-variant: #737170;
        --text-on-background: var(--primary);
        --text-on-primary: var(--background);
        --img-tint: none;
    }

    #logo-container img:nth-child(2) {
        display: none;
    }
}

:root {
    --side-margins: 12.5vw;
}

@media screen and (width < 1300px) {
    :root {
        --side-margins: 6.25vw;
    }
}

body {
    position: relative;
    background-color: var(--background);
    padding: 0 0 64px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

#header-container {
    position: sticky;
    top: 0;
    padding-top: 64px;
    background-color: var(--background);
    z-index: 1;
}

header {
    height: 64px;
    padding: 0 var(--side-margins);
    border-top: 1px solid var(--background-variant);
    border-bottom: 1px solid var(--background-variant);
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}

header div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

#logo-container {
    display: flex;
    background-color: var(--primary);
    padding: 0 34px 0 32px;
    height: calc(100% + 2px);
    border-radius: 16px 0 0 16px;
}

#logo-container img {
    margin: auto 0 auto 0;
}

h5,
#header-nav a {
    font-weight: bold;
    text-transform: uppercase;
}

#header-nav {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    display: flex;
    gap: 32px;
    justify-content: center;
}

#header-nav a {
    background-color: transparent;
    color: var(--primary-variant);
    border: none;
    text-decoration: none;
}

#header-nav a:hover {
    opacity: 100%;
    color: var(--primary);
}

.primary-button {
    background-color: var(--primary);
    color: var(--text-on-primary);
    border: none;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#header-right .primary-button {
    height: calc(100% + 2px);
    border-radius: 0 16px 16px 0;
    font-size: 16px;
    padding: 4px 32px 0 32px;
}

.primary-button:hover {
    background-color: var(--primary-variant);
}

.secondary-button {
    background-color: transparent;
    height: 32px;
    width: 32px;
    display: flex;
    padding: 6px;
    border: 1px solid var(--primary-variant);
    border-radius: 50%;
}

.secondary-button img {
    filter: var(--img-tint)
}

.secondary-button:hover {
    background-color: var(--background-variant);
    border: 1px solid var(--primary);
}

.vertical {
    position: absolute;
    background-color: var(--background-variant);
    height: 100%;
    width: 1px;
    top: 0;
    z-index: -2;
}

.vertical:nth-child(1) {
    left: var(--side-margins);
}

.vertical:nth-child(2) {
    left: calc(var(--side-margins) + 32px);
}

.vertical:nth-child(3) {
    left: 50%;
}

.vertical:nth-child(4) {
    right: calc(var(--side-margins) + 32px);
}

.vertical:nth-child(5) {
    right: var(--side-margins);
}

section {
    position: relative;
    padding: 0 var(--side-margins);
    border-top: 1px solid var(--background-variant);
    border-bottom: 1px solid var(--background-variant);
    height: calc(100vh - 256px);
    scroll-snap-align: center;
}

#section-container {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hero-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 96px;
    line-height: 80px;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 40px;
}

#hero-left p {
    font-size: 24px;
    width: calc(50% - var(--side-margins));
    margin-top: 16px;
}

#hero-nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    flex-grow: 1;
    margin-bottom: -16px;
}

#hero-left a {
    background-color: transparent;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    text-align: left;
    padding-top: 8px;
    text-decoration: none;
    transition: padding-left 0.1s ease-in-out
}

#hero-left a:hover {
    background-color: var(--primary);
    color: var(--text-on-primary);
    padding-left: 32px;
}

#hero-image {
    position: absolute;
    width: calc(50% - var(--side-margins));
    z-index: -1;
    border: 1px solid var(--background-variant);
    right: var(--side-margins);
    height: calc(100% + 2px);
    background-image: url("./img/placeholder.png");
    background-repeat: repeat;
    background-size: 128px;
}

#skills {
    display: flex;
    flex-direction: column;
}

#skill-card-container {
    flex-grow: 1;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}

.skill-card {
    background-color: var(--surface);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
}

.skill-card:nth-child(1) {
    grid-row: 1/ span 2;
}

.skill-card:nth-child(2) {
    grid-row: 1/ span 2;
}

.skill-card h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: -16px;
}

.skill-card h4 {
    color: var(--primary-variant);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
}

.skill-card p {
    flex-grow: 1;
}

.language {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.language div {
    background-color: var(--background-color);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language img {
    width: 16px;
}

#projects {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#project-card-container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
}

.project-card {
    height: 128px;
    position: relative;
    background-color: var(--detail-color);
    display: flex;
}

.project-card img {
    height: 100%;
    aspect-ratio: 16/9;
}