@font-face {
    font-family: "League Spartan";
    src: url(../assets/fonts/LeagueSpartan-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: url(../assets/fonts/LeagueSpartan-SemiBold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "League Spartan";
    src: url(../assets/fonts/LeagueSpartan-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

:root {
    --scrollbar-width: 0;
}

/* @media screen and (prefers-color-scheme:light) { */
    :root {
        --background: #F2F2F2;
        --background-variant: #E6E6E6;
        --surface: #FFFFFF;
        --primary: #030303;
        --primary-variant: #6200EE;
        --text-on-background: #030303;
        --text-on-background-variant: #7b7b7b;
        --text-on-primary: var(--surface);
        --shadow: 0 2px 4px #0000001A;
        --hover-effect: brightness(90%);
        --active-effect: brightness(95%);
        --hover-effect-alt: brightness(140%);
        --active-effect-alt: brightness(120%);
    }

    #logo-container img[alt="logo-dark"] {
        display: none;
    }
/* } */

/* @media screen and (prefers-color-scheme:dark) {
    :root {
        --background: #222129;
        --background-variant: #26242F;
        --surface: #34323D;
        --primary: #FFFFFF;
        --primary-variant: rgba(94 234 212);
        --text-on-background: #FFFFFF;
        --text-on-background-variant: #7b7b7b;
        --text-on-primary: var(--background);
        --shadow: 0 2px 4px #0000001A;
        --hover-effect: brightness(140%);
        --active-effect: brightness(120%);
        --hover-effect-alt: brightness(90%);
        --active-effect-alt: brightness(95%);
    }

    #logo-container img[alt="logo-light"] {
        display: none;
    }
} */

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "League Spartan";
    font-size: 100%;
    color: var(--text-on-background);
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
}

h4 {
    font-weight: 700;
}

h5 {
    color: var(--text-on-background-variant);
    font-weight: 700;
}

p {
    line-height: 1.5;
}

strong {
    font-size: 1.25rem;
    font-weight: 700;
}

span {
    font-weight: 700;
}

hr {
    border: none;
}

main a:not(.project) {
    color: var(--primary-variant);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem 1rem;
    width: fit-content;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem 1rem;
    height: fit-content;
}

.center-content {
    align-items: center;
    justify-content: center;
}

/* BODY */
body[id] {
    padding: 4rem max(4rem, calc(100vw - 1200px) / 2);
    gap: 4rem;
    background-color: var(--background);

    &:has(#project-overlay.active) {
        overflow: hidden;
        margin-right: var(--scrollbar-width);
    }
}

/* HEADER */
header[id] {
    position: sticky;
    top: 4rem;
    width: 40%;
    min-width: 40%;
    gap: 2rem;

    #logo-container {
        width: 5rem;
        height: 5rem;
        background-color: var(--primary);
        border-radius: 1rem;

        img {
            width: 50%;
            height: 50%;
            object-fit: contain;
        }
    }

    #title-container {
        gap: 0;
        flex-grow: 1;
        height: 5rem;
        justify-content: space-around;
    }

    #navigation {
        gap: 0;

        li {
            list-style-type: none;
        }

        a {
            padding: .5rem;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--primary);

            hr {
                width: 1rem;
                height: 2px;
                transition: width 300ms ease;
                background-color: var(--primary);
            }

            hr.current {
                width: 2rem;
            }

            &:hover hr {
                width: 3rem;
            }
        }
    }
}

/* MAIN */
main[id] {
    padding-top: .5rem;
    gap: 4rem;

    section {
        scroll-margin-top: 4rem;
    }

    /* SKILLS */
    #skills {
        gap: .5rem;

        .container {
            gap: 0;

            .item {
                gap: 0;

                .content {
                    height: 0;
                    transition: all 500ms ease;
                    width: 100%;
                    overflow: hidden;
                    flex-wrap: wrap;
                }
            }

            input[type="radio"] {
                display: none;

                &:checked+label i {
                    rotate: 90deg;
                }
            }

            label {
                translate: -1rem 0;
                border-radius: 8px;
                font-weight: 500;
                background-color: var(--background);
                text-transform: uppercase;
                width: calc(100% + 3rem);
                gap: 0;
                justify-content: space-between;
                cursor: pointer;
                padding: 1rem 1rem .75rem 1rem;
                transition: all 300ms ease;

                i {
                    rotate: 0;
                    transition: rotate 300ms ease;
                }

                &:hover {
                    filter: var(--hover-effect);
                    color: var(--primary-variant);
                }
            }

            hr {
                width: 100%;
                height: 2px;
                background-color: var(--background-variant);
            }
        }
    }

    /* TIMELINE */
    #timeline {
        gap: 1.5rem;

        .point {
            width: 1rem;
            height: 1rem;
            border: 2px solid var(--text-on-background-variant);
            border-radius: 50%;
            flex-shrink: 0;
        }

        hr {
            position: absolute;
            width: 2px;
            height: calc(100% + 1rem);
            background-color: var(--text-on-background-variant);
            top: 1rem;
            left: calc(.5rem - 1px);
        }

        .container {
            gap: 2rem;

            .education,
            .experience {
                position: relative;
                align-self: stretch;
                width: auto;

                .content {
                    flex-grow: 1;
                }

                &:not(:has(.point)) {
                    margin-left: 2rem;

                    hr {
                        top: 0;
                        left: calc(-1.5rem - 1px);
                        height: calc(100% + 2rem);
                    }
                }
            }

            div:last-child hr {
                background-color: transparent;
                background: linear-gradient(to bottom, var(--text-on-background-variant), transparent);
                height: calc(100% - 1rem);
            }
        }

        .content {
            gap: .75rem;
        }

        ul {
            padding-left: 1rem;
        }

        .diploma {
            width: 50%;
            aspect-ratio: 16/9;
            background-color: var(--surface);
            box-shadow: var(--shadow);
            padding: 1rem;

            .content {
                border: 2px solid var(--background-variant);
                text-align: center;
            }
        }
    }

    /* PROJECTS */
    #projects {
        gap: 1.5rem;
        padding-bottom: 1rem;

        .container {
            gap: 0;
            margin-bottom: -4rem;
        }

        .project {
            gap: 1.5rem;

            color: var(--text-on-background);
            text-decoration: none;

            width: calc(100% + 3rem);
            padding: 1.5rem;
            translate: -1.5rem -1.5rem;
            background-color: var(--background);
            border-radius: 8px;
            filter: none;
            transition: all 300ms ease;
            cursor: pointer;

            &:hover {
                filter: var(--hover-effect);

                .content .read-more {
                    opacity: 100%;
                    color: var(--primary-variant);
                    translate: 0;
                }
                .content .go-to {
                    opacity: 100%;
                    color: var(--primary-variant);
                    translate: 0;
                }
            }

            &:active {
                filter: var(--active-effect);
            }
        }

        .read-more {
                    opacity: 50%;
                    translate: -1rem 0;
                    transition: opacity 300ms ease, translate 300ms ease;
                }
                .go-to {
                    opacity: 50%;
                    translate: -1rem 0;
                    transition: opacity 300ms ease, translate 300ms ease;
                }

        .content {
            gap: .75rem;

            div:has(>h4) {
                width: 100%;
                justify-content: space-between;
            }
        }

        .img-container {
            position: relative;
            height: 8rem;
            aspect-ratio: 16/9;
            border-radius: .5rem;
            box-shadow: var(--shadow);

            img:first-child {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

            img:last-child {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 8px;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(8px);
                border-radius: 8px;
                z-index: 1;
            }
        }
    }
}

@keyframes arrowTranslate {
    from {
        translate: 0;
    }
    to {
        translate: 25% -25%;
    }
}

.badge {
    min-width: 3rem;
    width: fit-content;
    height: 3rem;
    background-color: var(--surface);
    border-radius: 8px;
    font-size: 150%;
    box-shadow: var(--shadow);
    gap: 0.5rem;
    padding: 4px .75rem 0 .75rem;

    img {
        aspect-ratio: 1/1;
        height: 50%;
        object-fit: contain;
    }

    i, img {
        margin-bottom: 4px;
    }

    span {
        margin-top: 2px;
    }
}

.chip-container {
    gap: .5rem;
    margin-top: .25rem;
    flex-wrap: wrap;

    .chip {
        color: var(--primary-variant);
        background-color: color-mix(in srgb, var(--primary-variant) 20%, transparent);
        border-radius: 25em;
        padding: .35rem .75rem .25rem .75rem;
    }
}

.secondary-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25rem;
    border: 2px solid var(--text-on-background-variant);
    color: var(--primary);
    font-size: 1.25rem;
    background-color: var(--background);
    filter: none;
    transition: all 300ms ease;
    cursor: pointer;

    &:hover {
        filter: var(--hover-effect);
    }

    &:active {
        filter: var(--active-effect);
    }
}

/* FOOTER */
footer[id] {
    position: fixed;
    left: max(4rem, calc(100vw - 1200px) / 2);
    bottom: 4rem;
    align-items: flex-end;

    #cv-container {
        width: 10rem;
        aspect-ratio: 210/297;
        overflow: hidden;
        border-bottom: 2px solid var(--text-on-background-variant);
        transition: border-bottom 500ms ease;
        margin: 0 1rem 0 0;

        span {
            display: none;
        }

        i {
            display: none;
        }

        img[alt="CV"] {
            width: 100%;
            height: 100%;
            border-radius: .5rem;
            translate: 0 4rem;
            filter: none;
            transition: all 500ms ease;
        }

        &:hover {
            border-bottom: 2px solid transparent;

            img[alt="CV"] {
                translate: 0;
                filter: var(--hover-effect);
            }
        }

        &:active {
            img[alt="CV"] {
                filter: var(--active-effect);
            }
        }
    }
}

/* PROJECT OVERLAY */
#project-overlay {
    position: fixed;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: color-mix(in srgb, var(--primary) 25%, transparent);
    padding: 4rem max(16rem, calc(100vw - 1000px) / 2);
    padding-top: 8rem;
    overflow: hidden;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 300ms ease, padding-top 300ms ease;

    &.active {
        overflow-y: scroll;
        opacity: 100%;
        pointer-events: auto;
        width: calc(100%);
        padding-top: 4rem;

        .overlay {
            pointer-events: all;
        }
    }

    button {
        background-color: var(--surface);
        border: none;
    }

    :not(p)>a {
        text-decoration: none;
        width: fit-content;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--surface);
        background-color: var(--primary-variant);
        border-radius: 8px;
        box-shadow: var(--shadow);
        padding: 1.2rem 2rem 1rem 2rem;
        filter:none;
        transition: filter 300ms ease;

        &:hover {
            filter: var(--hover-effect);
        }
        &:active {
            filter: var(--active-effect);
        }
    }

    .overlay {
        flex-grow: 1;
        background-color: var(--surface);
        box-shadow: var(--shadow);
        border-radius: 1rem;
        padding: 4rem;
        align-items: stretch;
        gap: 2rem;
    }

    div:nth-child(1) {
        justify-content: space-between;
        width: 100%;
    }

    .content {
        h3 {
            margin-top: 4rem;
            width: 100%;
        }

        h4 {
            margin-top: 1rem;
            width: 100%;
        }

        p{
            width: 100%;
        }

        img {
            width: 100%;
            margin: 2rem 0;

            &:last-child, &:has(+figcaption) {
                margin: 2rem 0 0 0;
            }

            &.main-img {
                margin: 2rem 0 0 0;
            }

            &.side-margins {
                width: 66%;
                margin: 1rem 0;
            }

            &:has(+ img) {
                margin: 2rem 0 0 0;
            }
        }

        iframe {
            width: 100%;
            margin: 0 0 2rem 0;
            aspect-ratio: 789/444;
        }

        figure {
            gap: 0;
        }

        figcaption {
            text-align: center;
            opacity: 50%;
        }
    }
}